<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../static/main.css" media="screen" />

<h1><a href="https://roar-app.herokuapp.com/">#Roar</a></h1>
<h2>Enjoy your new desktop wallpaper!</h2>

<!--<form method=POST action=/makeimg>
  <p class="file">
    <input type="file" name="uploadedImage" id="file" />
    <label for="file">Upload image</label>
  </p>
</form> -->

     
      <!-- <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
      </form> -->
    
      <img src={{ filename }} alt="Resulting Image" style="width:512px;height:341.25px;"/>
     
<p class="txtcenter">Right Click Image to Save It </p>
<p class="txtcenter">Comments, feedback, suggestions?<br />Email: team@columbialion.com</p>
<p class="txtcenter">by <a href="http://twitter.com/TheColumbiaLion">@TheColumbiaLion</a><br />Check out more <a href="http://columbialion.com">at columbialion.com</a></p>

</html> 

<!-- Add credit of website template maker  http://codepen.io/anon/pen/RaYvLG -->
