<!DOCTYPE html>
<html>
<head> 
<title> #Roar - The Lion </title>   
  <!-- Bootstrap -->
  <!-- Template used for bootstrap-->
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">

</head>
<link rel="stylesheet" type="text/css" href="../static/main.css" media="screen" />
<style>	
    
 body {
    background: url("templates/city.jpg") no-repeat; 
    background-size: 100%; 
} 
		
</style>
<body>
 <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
<!--	
<div class="navbar-header">
	<p class= "navbar-text">Columbia University</p>
</div>
-->


<h1><a href="https://roar-app.herokuapp.com/">#Roar</a></h1> 
<h2 class="txtcenter">Make your own Columbia wallpaper!</h2>

<!--<form method=POST action=/makeimg>
  <p class="file">
    <input type="file" name="uploadedImage" id="file" />
    <label for="file">Upload image</label>
  </p>
</form> -->

     
     <center> <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
         </form> </center>

<p class="txtcenter">1. Upload an Image (this works best if it's 2048 x 1365 pixels)<br /> 2. Get a Columbia wallpaper </p>
<p class="txtcenter copy">by <a href="http://twitter.com/TheColumbiaLion">@TheColumbiaLion</a><br />Made with 💙 by 🦁tech</p>
<p class="txtcenter">Lion Image designed by Maya Lin-Bronner (CC '19)</p>  

   <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{https://roar-app.herokuapp.com/}}/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    </body>
</html> 

<!-- Add credit of website template maker  http://codepen.io/anon/pen/RaYvLG -->
