<!DOCTYPE html>
<html>
<head> 
<title> #Roar - The Lion </title>   
</head>
<link rel="stylesheet" type="text/css" href="../static/main.css" media="screen" />

<body>
<h1><a href="https://roar-app.herokuapp.com/">#Roar</a></h1> 
<h2 class="txtcenter">Make your own Columbia wallpaper!</h2>

<!--<form method=POST action=/makeimg>
  <p class="file">
    <input type="file" name="uploadedImage" id="file" />
    <label for="file">Upload image</label>
  </p>
</form> -->

     
     <center> <form action="upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file"><br /><br />
        <input type="submit" value="Upload">
         </form> </center>

<p class="txtcenter">1. Upload an Image (this works best if it's 2048 x 1365 pixels)<br /> 2. Get a Columbia wallpaper </p>
<p class="txtcenter copy">by <a href="http://twitter.com/TheColumbiaLion">@TheColumbiaLion</a><br />Made with 💙 by 🦁tech</p>
<p class="txtcenter">Lion Image designed by Maya Lin-Bronner (CC '19)</p>  
    </body>
</html> 

